@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f3efe0;
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

button {
  position: relative;
  cursor: pointer;
  background-color: white;
  border: solid 1px grey;
  border-radius: 2px;
  display: block;
  width: 400px;
  padding: 5px;
  margin-bottom: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
}

.container {
  position: relative;
  width: 400px;
  height: 400px;
}

.patch {
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  bottom: 0;
  margin: auto;
  max-width: 300px;
  max-height: 200px;
}

.inSoil {
  z-index: 1;
}

.soil {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 400px;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  z-index: -1;
}
